@import "tailwindcss";

/* That's it! v4 handles the rest. */

body {
    background-color: #0f172a;
    /* Slate 900 */
    color: #f8fafc;
    /* Slate 50 */
}

@import "tailwindcss";
@layer utilities {
    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
    }
    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #1e293b;
        border-radius: 10px;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        background: #3b82f6;
    }
}